* {
    font-family: Arial, Helvetica, sans-serif;
}

.actionGroup {
    display: flex;
    flex-wrap: wrap;
    /*border: solid 2px rgb(128, 128, 128);*/
    /*border-radius: 10px;*/
    margin-right: 10px;
    margin-bottom: 10px;
    /*background-color: rgb(120,120,120);*/
    /*margin: auto;*/
}

#actions {
    display: flex;
    flex-wrap: wrap;
    background-color: #F0F0F0;
    padding-left: 10px;
    padding-top: 10px;
    width: 186px;
    height: fit-content;
    height: -moz-fit-content;
    border-radius: 16px;
    box-shadow: 1px 1px 4px black;
}

#rotationHeader {
    width: 74px;
}

#botdHeader {
    width: 25px;
}

#cdsHeader {
    width: 44px;
}

#dpsHeader {
    width: 5em;
}

#rotation {
    background-color: #555;
    position: relative;
    height: auto;
}

#topDiv {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

#mainDiv {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: calc(100vh - 16px);
    overflow: hidden;
}

#leftDiv, #rightDiv {
    width: 320px;
    margin: 10px;
}

#leftDiv {
    justify-content: flex-end;
    display: flex;
}

#scrollableDiv{
    overflow-y: scroll;
    position: relative;
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
}

input {
    text-align: right;
    border-radius: 4px;
    background-color: white;
    outline: none;
}

input:focus {
    /* background-color: #F0F0F0; */
    border-color: rgb(166, 199, 255);
}

.timeSeparator {
    position: absolute;
    left: 0px;
    height: 1px;
    background-color: black;
    z-index: 1;
}

#raidBuffInput {
    padding: 10px;
    border: solid 2px black;
}

#stats, #group {
    padding: 10px;
    background-color: #F0F0F0;
    box-shadow: 1px 1px 4px black;
    border-radius: 16px;
    width: 100%;
}

#stats input {
    max-width: 5em;
}

#botd, #effects, #groupEffects, #cds, #dps {
    position: relative;
}

#cds .action {
	background-color: black;
}

#cds .actionImage {
	opacity: 0.5;
}

#cds .actionImage:hover {
    opacity: 1;
}

.action {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 40px;
    width: 40px;
    border-radius: 6px;
    box-shadow: 1px 1px 4px black;
    background-color: cyan;
    cursor: pointer;
    overflow: hidden;
	z-index: 2;
}

.action:hover {
    box-shadow: 0px 0px 4px white;
    border: solid 1px white;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.actionImage {
    height: 40px;
    width: 40px;
    border-radius: 6px;
}

.effect {
    position: absolute;
    margin-top: 2px;
    z-index: 1;
}

.effectIcon {
    position: sticky;
    margin-left: -4px;
    margin-top: -3px;
    margin-bottom: -3px;
    top: 0px;
}

.raidBuff {
    /* position: relative; */
    margin-left: 1px;
    margin-right: 1px;
    height: 22px;
    width: 22px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
}

.rotation-table {
    background-color: #CCC;
    border-spacing: 2px;
    /*border-radius: 10px;*/
    /*position: relative;*/
}

.dpsSeparator {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 2px;
    height: 1px;
    background-color: black;
    z-index: 2;
}

.dpsText {
    margin-top: -8px;
    height: 16px;
    background-color: #CCC;
    margin-left: auto;
    margin-right: auto;
}

#group th {
    vertical-align: bottom;
}

.checkboxButton, .clearGroupButton {
    display: block !important;
    margin: auto !important;
    background-color: rgb(0, 0, 0, 0) !important;
}

.checkboxButton {
    padding: 0px !important;
}

.clearGroupButton {
    padding: 3px 4.79px 2px 4.79px !important;
}

.checkboxButton i, .clearGroupButton i {
    width: auto !important;
    height: auto !important;
}

.checkboxButton input {
    display: none;
}

.icon.question.circle.outline {
    cursor: pointer;
}

#suggestions {
    position: absolute;
    display: flex;
    background-color: #F0F0F0;
    padding: 10px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    z-index: 10;
    border: initial;
    border: solid 1px #888;
}

#suggestions:hover {
    cursor: move;
}

#suggestions .action {
    position: relative;
}

#suggestionsTitle {
    position: absolute;
    background-color: #F0F0F0;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transform: translate(-11px, calc(-100% - 10px));
    display: flex;
    border-top: solid 1px #888;
    border-left: solid 1px #888;
    border-right: solid 1px #888;
}

.suggestionsOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.5;
}

.suggestionsOverlayText {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

#savedRotationsLightbox * {
    margin-left: auto;
    margin-right: auto;
}

#savedRotationsTable {
    border-collapse: collapse;
}

#savedRotationsTable thead th {
    text-align: center;
    padding: 0.5em;
}

#savedRotationsTable tbody td {
    text-align: center;
    border-top: 1px solid black;
    padding: 1em;
    /*vertical-align: middle;*/
}

#savedRotationsTable tbody tr:nth-child(odd) {
    background-color: #F0F0F0;
}

/* #savedRotationsTable tbody tr:nth-child(odd) button { */
    /* filter: invert(100%); */
/* } */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tooltip {
	position: absolute;
	z-index: 999;
	color: #FFFFFF;
    background-color: #323232;
    border-radius: 4px;
    max-width: 400px;
    padding: 4px;
}

#progress {
    display: flex;
    flex-wrap: wrap;
}

.ui-selectmenu-button.ui-button {
    width: 10em;
}

.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item-wrapper {
    padding: 0.5em 0 0.5em 3em;
}

.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon {
    height: 32px;
    width: 32px;
}

.ui-selectmenu-button .ui-selectmenu-text {
    padding: 0.5em 0 0.5em 3em;
    position: relative;
}

.ui-selectmenu-button .ui-selectmenu-text .ui-icon {
    position: absolute;
    top: 0;
    left: .2em;
    margin-top: 0;
    height: 32px;
    width: 32px;
}

.ui-selectmenu-icon.ui-icon {
    margin-top: 8px;
}

.ui-icon.war, .ui-button:hover .ui-icon.war, .ui-button:focus .ui-icon.war {
    background: url("images/jobs/Warrior.png") 0 0 no-repeat;
}

.ui-icon.pld, .ui-button:hover .ui-icon.pld, .ui-button:focus .ui-icon.pld {
    background: url("images/jobs/Paladin.png") 0 0 no-repeat;
}

.ui-icon.drk, .ui-button:hover .ui-icon.drk, .ui-button:focus .ui-icon.drk {
    background: url("images/jobs/DarkKnight.png") 0 0 no-repeat;
}

.ui-icon.gnb, .ui-button:hover .ui-icon.gnb, .ui-button:focus .ui-icon.gnb {
    background: url("images/jobs/Gunbreaker.png") 0 0 no-repeat;
}

.ui-icon.sch, .ui-button:hover .ui-icon.sch, .ui-button:focus .ui-icon.sch {
    background: url("images/jobs/Scholar.png") 0 0 no-repeat;
}

.ui-icon.ast, .ui-button:hover .ui-icon.ast, .ui-button:focus .ui-icon.ast {
    background: url("images/jobs/Astrologian.png") 0 0 no-repeat;
}

.ui-icon.whm, .ui-button:hover .ui-icon.whm, .ui-button:focus .ui-icon.whm {
    background: url("images/jobs/WhiteMage.png") 0 0 no-repeat;
}

.ui-icon.drg, .ui-button:hover .ui-icon.drg, .ui-button:focus .ui-icon.drg {
    background: url("images/jobs/Dragoon.png") 0 0 no-repeat;
}

.ui-icon.nin, .ui-button:hover .ui-icon.nin, .ui-button:focus .ui-icon.nin {
    background: url("images/jobs/Ninja.png") 0 0 no-repeat;
}

.ui-icon.mnk, .ui-button:hover .ui-icon.mnk, .ui-button:focus .ui-icon.mnk {
    background: url("images/jobs/Monk.png") 0 0 no-repeat;
}

.ui-icon.sam, .ui-button:hover .ui-icon.sam, .ui-button:focus .ui-icon.sam {
    background: url("images/jobs/Samurai.png") 0 0 no-repeat;
}

.ui-icon.brd, .ui-button:hover .ui-icon.brd, .ui-button:focus .ui-icon.brd {
    background: url("images/jobs/Bard.png") 0 0 no-repeat;
}

.ui-icon.mch, .ui-button:hover .ui-icon.mch, .ui-button:focus .ui-icon.mch {
    background: url("images/jobs/Machinist.png") 0 0 no-repeat;
}

.ui-icon.dnc, .ui-button:hover .ui-icon.dnc, .ui-button:focus .ui-icon.dnc {
    background: url("images/jobs/Dancer.png") 0 0 no-repeat;
}

.ui-icon.smn, .ui-button:hover .ui-icon.smn, .ui-button:focus .ui-icon.smn {
    background: url("images/jobs/Summoner.png") 0 0 no-repeat;
}

.ui-icon.rdm, .ui-button:hover .ui-icon.rdm, .ui-button:focus .ui-icon.rdm {
    background: url("images/jobs/RedMage.png") 0 0 no-repeat;
}

.ui-icon.blm, .ui-button:hover .ui-icon.blm, .ui-button:focus .ui-icon.blm {
    background: url("images/jobs/BlackMage.png") 0 0 no-repeat;
}

.ui.modal>.content {
    width: auto;
}

#raidBuffLightboxCardsRow>td>label>img, #raidBuffLightboxRoadRow>td>label>img, #raidBuffLightboxAstRow>td>label>img {
    vertical-align: middle;
}